// If you want to override variables do it here
@import "variables";

// Import styles
@import "node_modules/@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
@import '~material-design-icons/iconfont/material-icons.css';

#table_id_wrapper{
	width: 100%;
}

body{
	background: #ffffff;
	font-family: 'Lato', sans-serif;
}